### recommended version

# Python 3.11

torch==2.5.1
torchvision==0.20.1
pytorch-lightning==2.5.5
timm==1.0.20
einops==0.8.1
numpy==2.0.1
scipy==1.16.2
pandas==2.3.2
xarray==2025.9.0
netCDF4==1.7.2
Cartopy==0.25.0
matplotlib==3.10.6
PyYAML==6.0.2
tqdm==4.67.1